.footer {
  border-top: 1px solid #dadada;
  display:flex;
  flex-direction:row;
/*  justify-content: space-around;
*/  align-items: center;
	width: 100%;
  height: 100px;
  font-family:'Roboto', sans-serif;
  background-color: black;
  box-shadow: -1px 0px 3px 0 rgba(0, 0, 0, 0.35);
  color:#CB960F;
}

.infog p{
	width: 200px;
  height: 10px;
  font-family:'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 300;
  margin-left:87px;
  margin-top:0;
  color: #CB960F;
}

.logo2{
  margin-left:87px;
  margin-top:20px;
	width: 195px;
  opacity:0.5;
}
.CGA ul{
  display:flex;
  flex-direction:row;
  list-style:none;
}
.CGA ul li{
  margin-left:20px;
}
.CGA{
  width:50%;
}
.CGA ul li:hover{
  color:#99F9E4;
}